{% extends 'base.html' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
<h1>Articles du blog</h1>
<a href="{% url 'create_post' %}">Créer un nouvel article</a>
<ul>
    {% for post in posts %}
        <li>
            {{ post.title }} 
            <a href="{% url 'post_detail' post.pk %}">Afficher</a> |
            <a href="{% url 'edit_post' post.pk %}">Modifier</a> |
            <a href="{% url 'delete_post' post.pk %}">Supprimer</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
